<launch>
  <param name="/RosAria/trans_accel" value="0.5" type="double"/>
  <param name="/RosAria/trans_decel" value="0.5" type="double"/>
  <param name="/RosAria/rot_accel" value="0.5" type="double"/>
  <param name="/RosAria/rot_decel" value="0.5" type="double"/>
  <param name="/sicklms/port" value="/dev/ttyUSB1" type="string"/>
  <param name="/sicklms/resolution" value="1.0" type="double"/>
  <!--
  <node pkg="rosbag" type="record" name="rosbag_record"
        args="-O $(env aero)/bagfiles/master.bag /scan /RosAria/cmd_vel" />
        -->

  <node
      pkg="tf"
      type="static_transform_publisher"
      name="laser_to_base"
      args="-.13 0 .32 0 0 0 base_link laser 50"
      />
  <node
      pkg="rviz"
      type="rviz"
      name="laser_rviz"
      />
  <node
      pkg="rosaria"
      type="RosAria"
      name="RosAria"
      output="screen"
      />
  <node
      pkg="sicktoolbox_wrapper"
      type="sicklms"
      name="sicklms"
      output="screen"
      />
  <node
    pkg="master_navigator"
    type="master_navigator"
    name="master_navigator"
    output="screen"
    />
</launch>
